{% extends 'base.html' %}
{% block content %}

    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">La liste des étudiants</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- ============================================================== -->
                <!-- data table  -->
                <!-- ============================================================== -->
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'creer_etudiant' %}" class="btn btn-success" role="button" style="float:right">Créer un étudiant</a>
                            <h5 class="mb-0">Les étudiants</h5>
                            <p>Cliquez sur un étudiant pour pouvoir le modifier.</p>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for msg in messages %}
                                    {% if msg.tags == "success" %}
                                        <div class="alert alert-success"><strong>{{ msg }}</strong></div>
                                    {% else %}
                                        <div class="alert alert-danger"><strong>{{ msg }}</strong></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="table-responsive">
                                <table id="tableMat" class="table table-striped table-bordered second"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Nom et prénom</th>
                                        <th>Numéro étudiant</th>
                                        <th>Mail</th>
                                        <th>Promotion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for etudiant in liste %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'modifier_etudiant' etudiant.etudiant.id %}">{{ etudiant.etudiant.user.last_name.upper }} {{ etudiant.etudiant.user.first_name.capitalize }}</a>
                                            </td>
                                            <td>{{ etudiant.etudiant.user.username }}</td>
                                            <td>{{ etudiant.etudiant.user.email }}</td>
                                            <td>{{ etudiant.promotion }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#tableMat').DataTable({
                dom: 'Bfrtip',
                buttons: ["csv", "pdf", "excel", "colvis"],
                "language":
                    {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                    }
            });

        });

    </script>
{% endblock %}

