{% extends 'base.html' %}
{% block content %}

    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">La liste des matières</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Les matières</h5>
                                <p>Vous pouvez consulter les absences pour une matière en cliquant dessus.</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tableMat" class="table table-striped table-bordered second" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Nom matière</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for matiere in matieres %}
                                                <tr>
                                                    <td>{{ matiere.titre }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#tableMat').DataTable({
                "language":
                    {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                    },
                dom: 'Bfrtip',
                "buttons": ['excel', 'pdf']
            });
        });

    </script>
{% endblock %}

